<h2>Inline If helper</h2>

<section>
    <h3>Demo</h3>

    <ul>
        <li>Background Color: <span style="color: {{backgroundColor}}">{{backgroundColor}}</span></li>
        <li>Is Dark: {{if isDark 'Yes' 'No'}}</li>
        <li>Inverse Color: <span style="color: {{inverseColor}}">{{inverseColor}}</span></li>
    </ul>

    <button style="background-color: {{backgroundColor}}; color: {{if isDark 'white' inverseColor}};" {{action 'changeColor'}}>Change Color</button>
</section>

<section>
    <h3>Easy to use</h3>

  {{code-snippet name="inline-if-strings.hbs"}}

  {{code-snippet name="inline-if-property.hbs"}}
  
    <strong>*</strong> <small>same rules apply as with inline styles</small>
</section>

