<h2>Each with Index</h2>

<h3>Demo</h3>

<div>
    List: {{list}}
</div>

<ul>
  {{#each model as |text index|}}
    <li>{{text}} at {{index}}</li>
  {{/each}}
</ul>

<button {{action 'shuffleModel'}}>Shuffle</button>

<h3>Use</h3>

{{code-snippet name="each-with-index.hbs"}}
