<h3>No Bind Attr</h3>

<div>
  {{input type="range" value=size min=50 max=200}}
</div>

<h4>With SVG</h4>

<svg class="circle" height={{size}} width={{size}} {{action 'changeColor'}}>
    <circle cx="{{radius}}" cy="{{radius}}" r="{{radius}}" fill={{color}} />
</svg>

<h4>With Polymer</h4>

<svg-pulsing-circle color="{{color}}" size={{size}} radius={{radius}} {{action 'changeColor'}}></svg-pulsing-circle>
