<h3>No Bind Attr</h3>

<div>
  {{input type="range" value=size min=50 max=200}}
</div>

<svg class="circle" height={{size}} width={{size}}>
    <circle cx="{{radius}}" cy="{{radius}}" r="{{radius}}" fill={{color}} />
</svg>
