<h2>Services</h2>

<h3>Demo</h3>

<p>
    <label>Enter value to store in localStorage {{stored-input key="foo"}}</label>
</p>

{{code-snippet name="use-stored-input.hbs"}}

<h3>Generate a service</h3>

{{code-snippet name="create-service.sh"}}

<h3>Inject a service</h3>

{{code-snippet name="stored-input-component.js"}}

<h3>Access service</h3>

{{code-snippet name="access-service.js"}}

<h3>Services are singletons</h3>

<p>
    <label></label>
</p>
